* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

nav {
  position: sticky;
  background-color: #ffffff;
  top: 0px;
  height: 62px;
  display: flex;
  align-items: center;
  padding: 5px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.left {
  display: flex;
  align-items: center;
  width: 100%;
}

.left ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.left ul li {
  padding: 0px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .3px;
  color: #090909;
  line-height: 80px;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.left img {
  width: 53px;
  height: 36px;
  padding: 0px 50px;
}
.profile,
.wish,
.bag {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.profile i,
.wish i,
.bag i {
  font-size: 18px;
  margin-bottom: 4px;
}
.container img{
    cursor:pointer;
    width:98.5vw;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 25px;
}


.section {
  display: flex;
  margin: 3px 2px;
  justify-content: center;
}

.section img {
  cursor: pointer;
  width: 48vw;
  background-size: cover;
}

.section1 img {
  cursor: pointer;
  width: 100vw;
  background-size: cover;
}

.section2 {
  display: flex;
  justify-content: center;
}

.section2 img {
  cursor: pointer;
  width: 285px;
  height: 380px;
}
footer {
  /* margin-top: 25px; */
  height: 55px;
  /* text-align: center; */
  background-color: #f7f7f7;
  padding-top: 28px;
  font-size: 14px;
  color: #696b79;
  text-decoration: none;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  letter-spacing: .3px;
}
.right {
  display: flex;
  align-items: center;
  width: 100%;
}

.right input {
  font-size: 14px;
  height: 20px;
  line-height: 24px;
  width: 60%;
  color: #696e79;
  padding: 8px 10px 10px;
  outline: 0;
  border: 1px solid #f5f5f6;
  border-radius: 4px 4px 4px 4px;
  background: #f5f5f6;
}

.icons {
  display: flex;
  margin: 0px 42px;
}

.profile,
.wish,
.bag {
  color: #000;
  font-size: 14px;
  font-weight: 800;
  padding: 0px 13px;
  cursor: pointer;
  letter-spacing: 0.5px;
}

.footer-container{
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding-left: 220px;
  padding-right: 220px;
}

.row{
  display: flex;
  margin-bottom: 20px;
}
.online-shopping{
  text-align: left;
  margin-right: 50px;
}
.customer-policies{
  text-align: left;
  margin-right: 50px;
}
.app{
  text-align: left;
  margin-right: 90px;
}
.content-heading{
  color: black;
  font-weight: 600;
  letter-spacing: normal;
}
.content-box{
  line-height: 1.6;
}
.Google-play{
  background-repeat: none;
  margin-right: 10px;

}
.App-Store{
  background-repeat: none;

}
.download-button{
  display: flex;
  margin-top: 30px;
}
.download-button img{
  width: 130px;
  height:40px;
}
/*MOBILE RESPONSIVE*/

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .left {
    width: 100%;
    justify-content: space-between;
  }

  .left img {
    padding: 0;
  }

  .left ul {
    display: none; 
  }

  .right {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .right input {
    width: 100%;
    margin-bottom: 10px;
  }

  .icons {
    margin: 0;
    justify-content: space-around;
    width: 100%;
  }
  .container img {
    width: 100%;
  }

  .section {
    flex-direction: column;
  }

  .section img {
    width: 100%;
  }

  .section1 img {
    width: 100%;
  }

  .section2 {
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
  }

  .section2 img {
    width: 48%;
    height: auto;
  }
  footer {
    height: auto;
    padding-bottom: 30px;
  }

  .footer-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .row {
    flex-direction: column;
  }

  .online-shopping,
  .customer-policies,
  .app {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .download-button {
    flex-direction: column;
    gap: 10px;
  }

}